{% extends 'base_index.html' %}
{% load static %}
{% block content %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with common landing page.">
    <meta name="author" content="Devcrud">
    <title>강의리스트</title>
    <!-- font icons -->
    <link rel="stylesheet" href="{% static 'vendors/themify-icons/css/themify-icons.css' %}">
    <!-- Bootstrap + common main styles -->
    <link rel="stylesheet" href="{% static 'css/common.css' %}">
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">
        <!-- Page Header -->
    <header class="header header-mini"> 
           <div class="header-title"><a href="/education/list">강의리스트</a></div>
    </header>
    <div class="container">
        <section class="section" id="portfolio">
            <div class="container text-center">
                {% if request.user.is_superuser and request.user.is_staff %}<div><a class="text-primary" href="/education/add">과목 추가하기</a></div>{% endif %}
                <div class="row">
                    {% for sub in subject %}
                        <div class="col-md-4">
                            <a href="./list/{{sub.subject_id}}/" class="portfolio-card">
                                {% if sub.subject_thumb %}<img src= "/media/{{sub.subject_thumb}}" width="300px" height="200px" class="portfolio-card-img"/>
                                {% else %}<img src= "{% static 'imgs/왼손코딩.JPG' %}" width="300px" height="200px" class="portfolio-card-img"/>
                                {% endif %}
                                <span class="portfolio-card-overlay">
                                    <span class="portfolio-card-caption">
                                        <h4>{{sub.subject_name}}</h4>&nbsp;
                                        <a href="./list/{{sub.subject_id}}/" id="education_title_border"><h4 id="education_title">{{sub.subject_name}}</h4></a>
                                    </span>&emsp;
                                </span>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    </div>
</body>
{% endblock %}
