{% load static %}
<nav class="sidebar">
    <ul>
        <li>
            <a href="" class="sidebarLogo">
                <img src="{% static 'imgs/왼손코딩 로고.jpg' %}" alt="">
                <span class="sidebarLogo-item">강의 목차</span>
            </a>   
        </li>
        <li><a class="sidebar_a" href="/education/view1/왼손코딩 강의소개">
            <i class="fas material-symbols-outlined">article</i>
            <span class="sidebar-item">Ch.00 강의소개</span>
        </a></li>
        <li><a class="sidebar_a"href="/education/view1/왼손코딩 제 1강">
            <i class="fas material-symbols-outlined">article</i>
            <span class="sidebar-item">Ch.01 제 1강</span>
        </a></li>
        <li><a class="sidebar_a"href="/education/view1/왼손코딩 제 2강">
            <i class="fas material-symbols-outlined">article</i>
            <span class="sidebar-item">Ch.02 제 2강</span>
        </a></li>
        <li><a class="sidebar_a" href="/education/view1/왼손코딩 제 3강">
            <i class="fas material-symbols-outlined">article</i>
            <span class="sidebar-item">Ch.03 제 3강</span>
        </a></li>
        <li><a class="sidebar_a" href="/education/view1/왼손코딩 제 4강">
            <i class="fas material-symbols-outlined">article</i>
            <span class="sidebar-item">Ch.04 제 4강</span>
        </a></li>
        
    </ul>
</nav>