{% extends 'base_index.html' %}
{% load static %}
{% block content %}

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Start your development with common landing page.">
        <meta name="author" content="Devcrud">
        <title>공지사항 상세</title>
        <!-- font icons -->
        <link rel="stylesheet" href="{% static 'vendors/themify-icons/css/themify-icons.css' %}">
        <!-- Bootstrap + common main styles -->
        <link rel="stylesheet" href="{% static 'css/common.css' %}">
    </head>

    <body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">
        <!-- Page Header -->
        <header class="header header-mini"> 
            <div class="header-title">소통</div> 
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a class="link" href="/board/notice">공지사항</a></li>
                    <li class="breadcrumb-item"><a class="link" href="/board/FAQ">FAQ</a></li>
                    <li class="breadcrumb-item"><a class="link" href="/board/freeboard">자유게시판</a></li>
                </ol>
            </nav>
        </header> <!-- End Of Page Header -->
        <!-- main content -->
        <div class="container">
            <!-- contact section -->
            <section class="section" id="contact">
                <div class="container text-center">
                    <h6 class="section-title mb-5">공지사항</h6>
                    <!-- contact form -->
                    <form method="post" action="noticedetail_save" class="contact-form col-md-10 col-lg-8 m-auto" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="form-group col-sm-12">
                                <input type="text" size="50" class="form-control" placeholder="제목을 입력해주세요" name="title" value="{{ r.title }}" required>                 
                            </div>
                            <div class="form-group col-sm-12">
                                <textarea name="comment" id="comment" rows="6"   class="form-control" placeholder="내용을 입력해주세요"></textarea>
                            </div>
                            <div class="form-group col-sm-12">
                                <input type="file" name="img" id="img" class="form-control" placeholder="첨부하기" accept="image/*" requried>                  
                            </div>
                            <div class="form-group col-sm-12 mt-3">
                                <input type="submit" value="게시하기" class="btn btn-outline-primary rounded">                  
                            </div>
                        </div>
                    </form><!-- end of contact form -->
                </div><!-- end of container -->
            </section><!-- end of contact section -->
        </div>
    </body>
{% endblock %}