{% extends 'base.html' %}
{% block content %}
<header class="header header-mini"> 
    <div class="header-title">비밀번호 재설정</div> 
</header> <!-- End Of Page Header -->
	<!--Reset Password-->
	<div class='container'>
        <form method="POST", action="password_reset_done">
            {% csrf_token %}
            <h2>비밀번호 재설정</h2>
            <hr>
            <p>비밀번호를 잊어버리셨나요?<br>
            가입하신 이메일을 입력해 주세요.<br>
            <tr><td><input type="email" class="form-control" name="email"
                maxlength="80"
                id="join-email-input" value=""
                aria-label="이메일"
                placeholder="이메일" /><span  aria-hidden="true"
                        style="display:none;"></span></td></tr>
            잠시 후 해당 이메일로 재설정된 비밀번호 메일이 발송됩니다.</p>
            {{ password_reset_form }}
            <button type="submit">전송</button>
        </form>
  	</div>
{% endblock %}