<div class="container">
    <footer class="footer">
        <a href="https://kr.freepik.com/free-vector/tiny-office-employees-working-in-abstract-caring-hands_18734220.htm#query=%EC%88%98%ED%99%94&position=3&from_view=keyword">작가 pch.vector</a> 출처 Freepik &nbsp;|&nbsp;
        <p class="mb-0">Copyright <script>document.write(new Date().getFullYear())</script> &copy; <a href="http://www.devcrud.com">DevCRUD</a></p>
        <div>
            <a href='/accounts/signup/info_accept' class="btn btn-light"  target='_blank'>이용약관 &nbsp;|</a>
            <a href='/accounts/signup/info_third_accept' class="btn btn-light" target='_blank'><b>개인정보처리방침 </b>&nbsp;|</a>
            <!-- <a href='accounts/signup/info_responsibility' class="btn btn-light" target='_blank'>책임의 한계와 법적고지 &nbsp;|</a> -->
            <a href='/' class="btn btn-light" target='_blank'>고객센터 |</a>
            <a href='/' class="btn btn-light" target='_blank'><i class="ti-headphone-alt"></i> 02-XXX-XXXX</a>
        </div>
        <div class="social-links text-right m-auto ml-sm-auto">
            <a href="javascript:void(0)" class="link"><i class="ti-facebook"></i></a>
            <a href="javascript:void(0)" class="link"><i class="ti-twitter-alt"></i></a>
            <a href="javascript:void(0)" class="link"><i class="ti-google"></i></a>
            <a href="javascript:void(0)" class="link"><i class="ti-youtube"></i></a>
            <a href="javascript:void(0)" class="link"><i class="ti-instagram"></i></a>
        </div>
    </footer>
</div>
<!-- end of page footer -->